version: "3.9"

services:
  sqlprocessor:
    image: sqlprocessor-cli
    build: .
    environment:
      - SSL_MODE=disable
      - PG_HOST=host.docker.internal # Replace with your Docker host IP if on Linux
    volumes:
      - ./sqlfiles:/sqlfiles
    entrypoint: [ /app/sqlprocessor-cli ]
    command: /sqlfiles/input.sql
